
.left{
    background: navajowhite;
    width: 28%;
    height: 300px;
    float: left;
    margin-top: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(98, 81, 184);
    

}
.middle{
    background: green;
    width: 35%;
    height: 300px;
    margin-left: 440px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    border: 2px dashed black;
    font-size: 20px;
    
}
.right{
    background: red;
    width: 28%;
    height: 300px;
    float: right;
    margin-top: 300px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid greenyellow;
    font-size: 25px;
}